{# data to generate html #}
{%

set mockupData01 = {
    "exampleArray":[
        {
            "exampleValue01": "123"
        },
        {
            "exampleValue02": "Some sample text"
        }
    ]
} %}
{%

set mockupData02 = {
    "exampleArray":[
        {
            "exampleValue01": "123"
        },
        {
            "exampleValue02": "Some sample text"
        }
    ]
} %}

{% block site %}{% endblock %}