{% extends "./layouts/default.twig" %}
{% block content %} 

    {% include './partials/_header.twig' %}
 
    <main>

        {% include './partials/_main.twig' %}
        
    </main>

    {% include './partials/_footer.twig' %}

{% endblock %}