    <h1>Main content</h1>

    <p>Edit me in: /twig/partials/_main.twig</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nam! Explicabo sunt, perspiciatis veritatis magnam aperiam optio soluta provident id nihil odio eligendi laboriosam molestiae, dicta aliquid dolor voluptatum eos.</p>
