{% extends "../data/mockupData.twig" %}
{% block site %}
<!DOCTYPE html>
<!--
                                                           
   @@@@@@.                            @@@                  
  @@*   @@ xx   .@@@    &@@x   @@  @@ @@@  _@@@@   @@@@     
   @@@@    @@  @@  @@ #@@  @@  @@  @@ @@@ @@  @@  @@@@@     
       @@@ @@  @@  @@ @@&  @@  @@  @@ @@@ @@@@@@  @@@       
  @@@@@@.  @@  @@  @@  @@@@@@  @@@@@@ @@@  @@@@@@ @@@  @@   
                           @@                              
                       @@@@     

Check it out:
  singular.com.pl
-->
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Front ..:: DEV ::..</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,800|Open+Sans:300,600,700,800&display=swap&subset=latin-ext" rel="stylesheet">
    <style>
        body {
            opacity: 0;
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
        }
    </style>
</head>
<body>
    {% set pathToAssets = htmlWebpackPlugin.options.pathToAssets %}
    {% block content %} {% endblock %}
</body>
</html>
{% endblock %}