//resets
@import '../../node_modules/normalize.css/normalize.css';

html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    outline: 0!important;
    margin:0;
    padding:0;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: $color-background;
    color: $color-text;
    font-size: 1.4rem;
    font-family: $font-content;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &.overlay {
        overflow: hidden;
        margin-right: 17px;
    }
}


::selection {
    background: $color-background-blue;
    color: $color-text-inv;
}

.screenreader-text {
    position: absolute!important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

a {
    text-decoration: none;
    color: $color-text;

    @extend %generic-transition;
}
