//main site transition
%generic-transition {
    -webkit-transition:  all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

%simple-fast-transition {
    -webkit-transition:  all .1s ease;
    transition: all .1s ease;
}

%longer-transition {
    -webkit-transition:  all .6s ease-in-out;
    transition: all .4s ease-in-out;
}
