// colors
$color-text: #000;
$color-text-inv: #fff;
$color-text-blue: #82B0E3; // single product page
$color-text-green: #53DDD1; // single product page
$color-background: #fff;
$color-background-inv: #000;
$color-background-blue: #0099FF;
$color-background-blue-2: #0078FF;
$color-background-product: #F2F2F2;
$color-grid-border: #707070;
$color-link-hover: #c2c2c2;

// margins
$xl-margin: 11rem; // ≥1300px
$lg-margin: 5rem; // ≥1000px
$sm-margin: 4rem; // mobile

// fonts
$font-header: 'Montserrat', sans-serif;
$font-content: 'Open Sans', sans-serif;

// path to assets
$pathToAssets: '/assets/'; // webpack front dev
// $pathToAssets: '/wp-content/themes/evoltec/assets/'; // local backend dev
// $pathToAssets: '/wp-content/themes/evoltec/assets/'; // prod